* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #172316;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Lexend", sans-serif;
}

button {
  font-family: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #2e4d3b;
  box-shadow: 0px 0px 40px aquamarine;
  gap: 10px;
}

div.logo {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: 600;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img > img {
  width: 45px;
}

#add-book-btn {
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: 600;
  border: solid 1px #212121;
  border-radius: 10px;
  background-color: rgb(206, 224, 206);
}

#add-book-btn:hover {
  scale: 1.04;
  box-shadow: 0 0 14px aquamarine;
}

#add-book-btn:active {
  scale: 1;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: max-content;
  gap: 20px;
  height: calc(100% - 140px);
  width: calc(100% - 40px);
  margin: auto;
}

.book {
  display: flex;
  background-color: rgb(206, 224, 206);
  border-radius: 10px;
  padding: 20px;
  color: #1d1d1d;
  flex-direction: column;
  text-align: center;
}

.book:hover {
  box-shadow: 0 0 14px aquamarine;
}

.book-info {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 14px;
  gap: 10px;
}

.book-title {
  flex-grow: 1;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 1.7rem;
  font-weight: 600;
}

.book-author::before {
  content: "by ";
}

.book-author,
.book-pages {
  font-size: 1.1rem;
  margin: auto;
  font-style: italic;
  color: #172316;
}

.book-pages::after {
  content: " pages";
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.book-buttons {
  padding: 8px 5px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

button:active {
  transform: scale(0.98);
}

.read-btn {
  border: solid 1px #212121;
  background-color: rgb(88, 122, 88);
  color: white;
}

.read-btn::before {
  content: "not ";
}

button.book-is-read {
  background-color: rgba(127, 255, 212, 0.4);
  color: black;
}

button.book-is-read::before {
  content: "";
}

.delete-btn {
  background-color: rgba(255, 0, 0, 0.3);
  border: solid 1px #212121;
}

dialog {
  margin: auto;
  border: 2px solid #cee0ce;
  border-radius: 10px;
  padding: 25px;
  background-color: #2e4d3b;
  color: #cee0ce;
  min-width: 400px;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

hr {
  border: 1px solid rgba(127, 255, 212, 0.2);
  border-radius: 1px;
  margin-top: 8px;
}

label {
  font-size: 1.1rem;
  font-weight: 500;
}

.dialog-buttons {
  padding: 8px;
  font-size: 1.2rem;
}

input {
  border: 1px solid #cee0ce;
  border-radius: 8px;
  color: white;
  background-color: #2e4d3b;
  margin-top: -6px;
  padding: 8px;
  font-size: 1.2rem;
}

input:active {
  border: none;
  box-shadow: 0 0 50px aquamarine;
}

input:invalid {
  border-color: #dd9c90;
}

.dialog-buttons {
  background-color: #cee0ce;
  color: #172316;
  border: solid 1px white;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  gap: 20px;
}

div.single-input {
  display: flex;
  justify-content: left;
  gap: 10px;
}

input[type="checkbox"] {
  margin-top: 0px;
}

::backdrop {
  background-color: black;
  opacity: 0.4;
}
